@charset "UTF-8";
body {
  margin: 0;
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
}

ul, h1, h2, h3, p {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  background-color: #2196F3;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.web {
  color: #2196F3;
}

.studio {
  color: #000000;
}

.emblem {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.title {
  margin-top: 0;
  color: #212121;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.feature__text, .team__speciality {
  color: #757575;
}

.image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.section {
  background-color: #FFFFFF;
  padding-bottom: 94px;
}

.page-header__container {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .page-header__container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .site-nav__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 90px;
  }
}

.site-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--active {
  color: #2196F3;
  text-decoration: none;
}
.site-nav__link--active::after {
  position: absolute;
  content: " ";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.site-contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 96px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-contact__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .site-contact__item {
    margin-right: 50px;
  }
  .site-contact__item:last-child {
    margin-right: 0;
  }
}

.site-contact__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .site-contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2 0 0.02;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
.site-contact__link:hover, .site-contact__link:focus {
  color: #2196F3;
}

.site-contact__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contact__icon:hover {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.mobmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 999;
}
.mobmenu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}
.mobmenu > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobmenu {
    display: none;
  }
}

.mobmenu__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu__open :hover, .mobmenu__open :focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .mobmenu__open {
    display: none;
  }
}

.mobmenu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 30px;
  border: none;
  fill: #212121;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu__close :hover, .mobmenu__close :focus {
  fill: #2196F3;
}

.mobmenu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobmenu__link {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobmenu__link:hover, .mobmenu__link:focus {
  color: #2196F3;
}

.mobmenu__link--active {
  color: #2196F3;
}

.mobmenu-contact__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobmenu-sub__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobmenu-sub__link {
  margin-top: 64px;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 480px) {
  .mobmenu-sub__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.first {
  padding-left: 0;
}

.last {
  padding-right: 0;
  border: none;
}

.banner {
  width: 100%;
  max-width: 1600px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannermob1.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannermob1.jpg);
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannermob2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannermob2.jpg);
  }
}
@media screen and (min-width: 480px) {
  .banner {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannertab1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannertab1.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannertab2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannertab2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannerdesk1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannerdesk1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/bannerdesk2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bannerdesk2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .banner__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .banner__title {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}

.banner__btn {
  padding: 10px 24px;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.feature__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .feature__item {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .feature__item:last-child {
    margin-right: 0;
  }
}

.feature__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .feature__picture {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature__picture {
    margin-bottom: 30px;
  }
}

.feature__title {
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .feature__title {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__title {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
  }
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.do {
  display: none;
}

@media screen and (max-width: 1199px) {
  .do__title {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .do__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .do__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.do__item {
  margin-right: 30px;
  width: 370px;
  height: 294px;
}
.do__item:last-child {
  margin-right: 0;
}

.do__thumb {
  position: relative;
}

.do__meta {
  position: absolute;
  bottom: 0;
  padding: 27px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.do__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  padding-top: 60px;
  margin-top: 0;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 479px) {
  .team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

.team__speciality {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__text {
    padding-bottom: 30px;
  }
}

.team-sub__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-sub__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sub__link:hover, .team-sub__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    margin-top: 0;
  }
}

.clients__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
}
@media screen and (max-width: 479px) {
  .clients__item {
    padding: 5px;
  }
}
@media screen and (min-width: 480px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 1199px) {
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.filter {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
  }
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media screen and (min-width: 480px) {
  .filter-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #F5F4FA;
  color: #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-list__text {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.projects__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .projects__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .projects__item:nth-child(2n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.projects__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover, .projects__item :focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.projects__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__mean {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.projects__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__overlay .projects__item:hover, :focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__description {
  position: absolute;
  padding: 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Повторюючі значення */
.communications {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*спеціальні значення */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (max-width: 479px) {
  .page-footer__content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .page-footer__content {
    min-width: 480px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 28px;
  font-style: normal;
}

.studio--inverse {
  color: #FFFFFF;
}

.page-footer__list {
  font-style: normal;
}

.page-footer__item {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .page-footer__item {
    margin-bottom: 9px;
  }
}
.page-footer__item:last-child {
  margin-bottom: 0;
}

.page-footer__adress {
  color: #FFFFFF;
}

.page-footer__contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contact:hover, .page-footer__contact:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer-subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    text-align: start;
  }
}

.footer-subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-subscribe__item {
  margin-right: 10px;
}
.footer-subscribe__item:last-child {
  margin-right: 0;
}

.footer-subscribe__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe__link:hover, .footer-subscribe__link:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .footer-sing {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sing {
    text-align: start;
  }
}

@media screen and (min-width: 320px) {
  .footer-sing__form {
    margin-top: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-sing__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sing__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-sing__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .footer-sing__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-sing__btn {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .footer-sing__btn {
    margin-top: 0;
  }
}

.footer-sing__text {
  padding: 10px 26px;
}

.footer-sing__icon {
  margin-left: 10px;
  fill: #F5F4FA;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 530px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  border: 1px solid rgba(249, 10, 10, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .modal__field {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__field {
    width: 448px;
  }
}
.modal__field::-webkit-input-placeholder {
  padding: 12px;
}
.modal__field::-moz-placeholder {
  padding: 12px;
}
.modal__field:-ms-input-placeholder {
  padding: 12px;
}
.modal__field::-ms-input-placeholder {
  padding: 12px;
}
.modal__field::placeholder {
  padding: 12px;
}

.modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input, .modal__textarea {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: auto;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__textarea:focus {
  border-color: #2196F3;
}

.modal__textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__wrapped {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var #757575;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.agreement__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 5px;
  color: #2196F3;
  -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .agreement__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.modal__btn {
  margin-top: 30px;
  padding: 10px 52px;
}

.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  position: absolute;
}

.agreement span {
  width: 16px;
  height: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .agreement span {
  background-color: #188CE8;
  border: none;
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */