.mobmenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: $blank;;
    transform:translateX(100%);
    transition: transform 250ms $animation;
    &.is-open {
        transform: translateX(0);}
        @include tablet {display: none;}
    >.container {
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;}
        overflow-y: scroll;
        z-index: 999;
    @include tablet {display:none;}
}
.mobmenu__open{
    display:flex;
    background-color: transparent;
    border:none;
    fill: $titleColor;
    transition: fill 250ms $animation;
    & :hover, :focus {fill:$accentColor;}
@include tablet {display:none;}}
.mobmenu__close{
    position: absolute;
    top: 20px;
    right: 20px;
    margin-bottom: 30px;
    border:none;
    fill: $titleColor;
    background-color: transparent;
    transition: fill 250ms $animation;
      & :hover, :focus{fill:$accentColor;}}
.mobmenu__item:not(:last-child){margin-bottom: 30px;}
.mobmenu__link{
    margin-bottom: 30px;
    @include font(500,40,1.2,0.02);
    color:$titleColor;
    transition: color 250ms $animation;
    &:hover,&:focus{color:$accentColor;}}
.mobmenu__link--active{color:$accentColor;}
.mobmenu-contact__item:not(:last-child){margin-bottom: 30px;}
.mobmenu-sub__list{display: flex;}
.tel {@include font (500,30,1.2,0.02);
    @include mobile {@include font(500,34,1.2,0.02)};
    color: $accentColor;}
.mail {@include font(500,24,1.2,0.02);
color:$textColor;}
.mobmenu-sub__link{
    margin-top: 64px;
    padding-right: 10px;
    padding-left: 10px;
    display:inline-flex;
    @include font(500,14,1.2,0.02);
    @include mobile {@include font(500,18,1.2,0.02);};
    color: $accentColor;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.first {padding-left: 0}
.last {padding-right: 0;
    border: none;}