.team{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
    background-color:$secondoryColor;
    @media screen and (min-width:1200px){padding-top: 94px;padding-bottom: 94px;}
    }
.team__name{
    margin-bottom: 10px;
    text-align: center;
    color:$titleColor;
    @include font(500,16,1.2);
}
.team__list{
    align-items: center;
    justify-content: center;
@media screen and (min-width:480px){display:flex;flex-wrap: wrap; gap: 30px;}
@media screen and (min-width:768px){display: flex;}}
.team__item{
    align-items: center;
    width: 100%;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
    background-color: $backgroundColor;
    @media screen and (max-width:479px){margin-bottom: 30px;}
    @media screen and (min-width:768px){flex-basis: calc((100% - 30px)/2);}
    @media screen and (max-width:1199px){&:nth-child(2n){margin-right: 0;}}
    @media screen and (min-width:1200px){flex-basis: calc((100% - 90px)/4);
        &:last-child{margin-right: 0;}}
}
.team__speciality{
    margin-bottom: 16px;
    @include font(400,16,1.2); 
    text-align: center;}
.team__text{
    padding-top: 30px; 
    padding-bottom: 24px;
    @include desktop {padding-bottom: 30px;}
}
.team-sub__list{
    @include display;
    gap: 10px;}
.team-sub__link{
    @include display;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill:$iconFill;
    transition:fill 250ms $animation, background-color 250ms $animation;
    &:hover, &:focus {fill:$blank; background-color: $accentColor;}}
