.image{display: block;
max-width: 100%;
width: 100%;
height: auto;}
.page-header{display: flex;
    background-color:$backgroundColor;
    border-bottom: 1px solid #ECECEC;}
.section{
    background-color: $backgroundColor;
    padding-bottom: 94px;}
