:root{--main-background-color:#FFFFFF;
    --title-text-color:#212121;
    --main-text-color:#757575;
    --add-background-color:#F5F4FA;
    --accent:#2196F3;
    --fill-icon:#AFB1B8;
    --animation:cubic-bezier(0.4, 0, 0.2, 1);
    --footer-color:#2F303A;
    --hover-button:#188CE8;}